.landing-wrapper {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgb(8, 0, 8), #e46bc9);
}

.copy-link-wrapper {
    background-color: #2b0823;
    display: inline-flex;
    padding: 8px 5px 5px 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    user-select: none;
}

.copy-link-wrapper h1 {
    padding: 0 10px 0 4px;
    margin: 0;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    display: inline-block;
    border-right: 1px solid white;
}

.copy-link-wrapper img {
    padding: 0 0 0 10px;
    margin: 0 5px 5px 0;
    object-fit: cover;
    width: auto;
    height: 20px;
    display: inline-block;
}