@import '~bootstrap/scss/bootstrap.scss';

#projects-title {
    text-align: center;
    margin-top: 5vh;
    color: white;
}

#projects-wrapper {
    height: 2700px;
    width: 100%;
    background: rgba(103, 15, 107, 0.555);
}


#projects-container {
    position: absolute;
    width: 100%;
}

.project-container:hover {
    -webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
    transform: scale(1.1);
}

.project-block-left {
    margin-top: 150px;
    height: 450px;
    transition: all .2s ease-in-out; 
    cursor: default;
    user-select: none;
    width: 70%;
    margin-left: 15%;
    background-color: white;
}

.project-block-right {
    margin-top: 150px;
    height: 450px;
    transition: all .2s ease-in-out; 
    cursor: default;
    user-select: none;
    width: 70%;
    margin-left: 15%;
    background-color: white;
}

.placeholder {
    width: 50%;
    height: 100%;
    object-fit: cover;
    float: left;
}

.learn-more-left {
    height: 100px;
    position: absolute;
    z-index: 10;
    width: 70%;
    margin-left: 15%;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(235, 235, 235));
}

.learn-more-left:hover {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(88, 88, 88));
    cursor: pointer;
}

.learn-more-right {
    height: 100px;
    position: absolute;
    z-index: 10;
    width: 70%;
    margin-left: 15%;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(235, 235, 235));
}

.learn-more-right:hover {
    background-image: linear-gradient(rgb(255, 255, 255), rgb(88, 88, 88));
    cursor: pointer;
}

.learn-more p {
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    color:rgb(32, 2, 36)
}

.data-privacy-image {
    background-image: url(../../images/whiteterminal.png);
    top: 50px;
    left: 50px;
    width: 85%;
    height: 330px;
    position: absolute;
    border: 1px solid rgb(214, 214, 214);
}

.left-teaser-1 {
    float: left;
    width: 50%;
    z-index: 11;
    position: relative;
}

.left-teaser-1 h3 {
    margin-top: 80px;
    font-size: 2.2vw;
    float: left;
}

.details-list-container {
    margin: 0 0 0 50px;
    padding: 0;
}

.details-list-item {
    font-size: 1.1vw;
    line-height: 35px;
    list-style-type: none;
    text-align: left;
    float: left;
    width: 100%;
}

.right-teaser-1 {
    float: right;
    width: 50%;
    z-index: 11;
    position: relative;
}

.right-teaser-1 h3 {
    margin: 20px 0 20px 0;
}

.right-teaser-1 small {
    height: 335px;
    width: 70%;
    display: inline-block;
    font-size: 1vw;
    line-height: 30px;
    text-align: justify;
    overflow-y: hidden;
}

.development-image {
    margin: 60px 0 0 0;
    width: 30vw;
    height: 320px;
}

.carousel-item-width {
    object-fit: cover;
    max-width: 300px;
    height: auto;
}