#projects-title {
    text-align: center;
    margin-top: 5vh;
    color: white;
}

#projects-wrapper {
    height: 320vh;
    width: 100%;
    background-image: linear-gradient(rgb(32, 2, 36), rgb(156, 17, 17));
}

#projects-container {
    position: absolute;
    margin-left: 15%;
    width: 70%;
    height: 100vh;
}

.project-container:hover {
    -webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
    transform: scale(1.1);
}

.project-block {
    margin-top: 5vw;
    height: 40vh;
    background-color: white;
    transition: all .2s ease-in-out; 
}

.placeholder {
    width: 50%;
    height: 100%;
    object-fit: cover;
    float: left;
}
